body {
    background-color: whitesmoke;
}

.custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem; 
    height: 80px; 
    width: calc(100% - 20px); 
    background-color: #f8f9fa;
    margin-left: 10px;
}

.nav-item {
    margin-right: 10px; 
    padding: 5px; 
}

.logout {
    position: relative;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-top: 20px;
    z-index: 999;
}


.flash {
    position: absolute;
    top: 10%;
}

.btn_options {
    position: absolute;
    right: 0%;
    top: 0%;
    border: 0;
    width: 50px;
    height: 50px;
    color: black;
    background-color: white;
    border: 0;
    font-size: 23px;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; 
    align-items: start;
    margin-top: 30px; 
}

.post-item {
    flex: 1 1 300px; 
    margin-top: 100px;
}


.card-login {
    position: relative;
    top: 150px;
}

.logo {
    width: 15%;
    height: 15%;
}

.logout {
    position: absolute;
    left: 95%;
    top: 12rem;
}

.config {
    position: absolute;
    left: 95%;
}

.add {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #00aeff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.btn.liked {
    background-color: #007bff;
    color: white;
}

.post_image {
    width: 250px; 
    height: auto;
    display: inline-block;
}

@media (max-width: 600px) {
    .post-image {
        max-width: 100%;
    }
}