
<div class="container flash">
  <!--shows a flash message-->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="alert-container">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

<div class="container">
  {% for post in posts %}
  <div class="post-item">
    <div class="d-flex justify-content-center">
      <div class="card" id="user-post-card" style="width: 18rem;">
        <div class="dropdown">
          <button class="btn btn-secondary btn_options" type="button" id="dropdownMenuButton{{ post.id }}" data-bs-toggle="dropdown" aria-expanded="false">
            ...
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ post.id }}">
          
          <!--Form action do edit a post-->
          <li>
            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_post_{{ post.id }}">
                Edit
              </button>
            </form>
          </li>


          <!--Form action to delete post-->
            <li>
              <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST" style="margin: 0;">
                <button type="submit" class="dropdown-item" onclick="return confirm('Are you sure, if you want exclude this post?');">
                  Delete
                </button>
              </form>
            </li>
          </ul>
        </div>

      <!--Card to show the post-->
        <h4 class="card-title">{{ post.username.username }}</h4>
        <hr>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ post.post_title }}</h5>
          <p class="card-text">{{ post.content }}</p>
          <form action="{{ url_for('posts.like_system', post_id=post.id) }}" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-primary {% if user in post.likes %}liked{% endif %}">
              <i class="bi bi-hand-thumbs-up"></i>
              <span>{{ post.likes.count() }}</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
