<div class="container">
  {% for post in posts %}
  <div class="post-item">
    <div class="d-flex justify-content-center">
      <div class="card" id="user-post-card" style="width: 18rem;">
        <div class="dropdown">
          <button class="btn btn-secondary btn_options" type="button" id="dropdownMenuButton{{ post.id }}" data-bs-toggle="dropdown" aria-expanded="false">
            ...
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ post.id }}">
          
          <!--Form action do edit a post-->
            <li><a class="dropdown-item" href="#">Editar</a></li>

          <!--Form action to delete post-->
            <li>
              <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST" style="margin: 0;">
                <button type="submit" class="dropdown-item" onclick="return confirm('Tem certeza que deseja excluir este post?');">
                  Excluir
                </button>
              </form>
            </li>
          </ul>
        </div>

      <!--Card to show the post-->
        <h4 class="card-title">{{ post.username.user }}</h4>
        <hr>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ post.post_title }}</h5>
          <p class="card-text">{{ post.content }}</p>
          <a href="#" class="btn btn-primary">Like</a>
          <a href="#" class="btn btn-danger">Dislike</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
