<button class="btn btn-primary add" type="button" data-bs-toggle="modal" data-bs-target="#create_post">+</button>

<div class="modal fade" id="create_post" tabindex="-1" aria-labelledby="createPostLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createPostLabel">Creating your post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Modal form -->
        <form action="{{ url_for('create_post') }}" method="post">
          <div class="mb-3">
            <label for="postTitle" class="form-label">Post Title</label>
            <input type="text" class="form-control" id="postTitle" name="title" placeholder="Your post title here!" required>
          </div>
          <div class="mb-3">
            <label for="postText" class="form-label">Post Text</label>
            <textarea class="form-control" id="postText" name="content" rows="3" placeholder="Your post text here!" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Create!</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>